/* ======================================================
    Filename    : site.less
    Description : Site style definitions
    Author      : Nejdet Eren Pinaz
    * Compile this into css folder (Web Compiler, etc.)
   ====================================================== */

/* Imports */
@import "../bootstrap/bootstrap.less";

/* =============================
    Styles
   ============================= */

.field-validation-error {
    color: @brand-danger;
}

.input-validation-error {
    border: 1px solid @brand-danger;
}

.validation-summary-errors {
    color: #fff;
    background: @brand-danger;
    padding: 10px;
    margin-bottom: 20px;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

.navbar {
    margin-bottom: 0;

    .navbar-brand {
        font-family: "Lobster";
        font-size: 28px;
        text-shadow: 2px 1px 0 darken(@navbar-default-bg, 10);
    }

    .nav {
        > li > a {
            font-weight: bold;
            text-shadow: 1px 1px 0 darken(@navbar-default-bg, 10);

            &:focus, &:hover {
                text-shadow: none;
            }
        }
    }
}

.carousel {
    .carousel-inner {
        height: 550px;

        #firstSlide {
            height: 100%;
            width: 100%;
            background: url("/Assets/images/carousel.jpg");
            background-size: cover;
            background-position: center center;
        }
    }
}

.content {
    padding: 20px;
    min-height: 680px;
}

.footer {
    padding: 20px;
}

.categories {
    .thumbnail {
        position: relative;
        background-color: @brand-secondary;
        height: 240px;

        .name-wrapper {
            position: absolute;
            top: 50%;
            width: 100%;
            margin-top: -18px;
            text-align: center;

            h4 {
                color: #fff;
                font-weight: bold;
            }
        }
    }
}

#organizer-image-preview, #event-image-preview {
    position: relative;
    background-color: #eee;
    width: 240px;

    .uploader-trigger {
        overflow: hidden;
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .uploader-preview {
        width: 100%;
    }
}

#organizer-image-preview {
    height: 240px;
}

#event-image-preview {
    height: 360px;
}

.crop-editor {
    overflow: hidden;
    padding-top: 50px;

    .cropit-preview {
        margin: 0 auto;

        .cropit-preview-background {
            opacity: .2;
        }
    }

    .cropit-controls {
        width: 240px;
        margin: 0 auto;
        padding: 20px 0;

        .cropit-image-zoom-input {
            position: relative;
            z-index: 10;
            display: block;
            margin-bottom: 10px;
        }

        .cropit-image-input {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            opacity: 0;
        }

        .progress {
            margin: 0;
        }
    }
}

.events {
    .thumbnail img {
        width: 240px;
    }
}

.events, .event-details {
    i.glyphicon {
        margin-right: 8px;
    }
}

#userTickets {
    .ticket-orders {
        .ticket-order-card {
            position: relative;

            > a {
                overflow: hidden;
                zoom: 1;
                color: #333;
                background-color: #f5f5f5;
                box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
                display: block;
                padding: 10px;
                margin-top: 10px;
                text-decoration: none;

                &:hover {
                    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
                }

                .ticket-event-image {
                    width: 120px;
                    margin-right: 10px;
                    float: left;
                }

                .ticket-event-info {
                    h3 {
                        margin: 0;
                    }
                }

                .ticket-order-info {
                    color: @gray-light;
                }
            }

            .ticket-operations {
                position: absolute;
                top: 20px;
                right: 25px;
            }
        }
    }
}
