/* ======================================================
    Filename    : site.less
    Description : Site style definitions
    Author      : Nejdet Eren Pinaz
    * Compile this into css folder (Web Compiler, etc.)
   ====================================================== */

/* Imports */
@import "../bootstrap/bootstrap.less";

/* =============================
    Styles
   ============================= */

i.glyphicon {
    margin-right: 8px;
}

.navbar {
    margin-bottom: 0;

    .navbar-brand {
        font-family: "Lobster";
        font-size: 28px;
        text-shadow: 2px 1px 0 darken(@navbar-default-bg, 10);
    }

    .nav {
        > li > a {
            font-weight: bold;
            text-shadow: 1px 1px 0 darken(@navbar-default-bg, 10);

            &:focus, &:hover {
                text-shadow: none;
            }
        }
    }
}

.carousel {
    .carousel-inner {
        height: 550px;

        #firstSlide {
            height: 100%;
            width: 100%;
            background: url("/Assets/images/carousel.jpg");
            background-size: cover;
            background-position: center center;
        }
    }
}

.content {
    padding: 20px;
}

.categories {
    .thumbnail {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 240px;

        .name-wrapper {
            position: absolute;
            top: 50%;
            width: 100%;
            margin-top: -18px;
            text-align: center;

            h4 {
                color: #fff;
                font-weight: bold;
            }
        }
    }
}

#organizer-image-uploader {
    max-width: 240px;
    position: relative;

    #image-picker {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .preview-wrapper {
        width: 240px;
        height: 240px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ddd;

        img {
            max-width: 100%;
        }
    }

    #Image {
        margin: 0;
        padding: 0;
        border: 0;
        height: 0;
        visibility: hidden;
    }
}
